 .u-section-1 {
  min-height: 643px;
}

body {
  /* background-color: #f5f8ff; */
  /* background: var(--color-darkgrey); */
  background-image: linear-gradient(
      115deg,
      rgba(240, 240, 270, 0.9),
      rgba(240, 240, 250, 0.5)
    ),
    url(https://media.istockphoto.com/id/1336558374/ru/%D1%84%D0%BE%D1%82%D0%BE/%D0%B4%D0%B5%D0%BB%D0%BE%D0%B2%D0%B0%D1%8F-%D0%B6%D0%B5%D0%BD%D1%89%D0%B8%D0%BD%D0%B0-%D0%B8-%D0%B1%D0%B8%D0%B7%D0%BD%D0%B5%D1%81%D0%BC%D0%B5%D0%BD-%D0%BF%D0%BE%D0%B6%D0%B8%D0%BC%D0%B0%D1%8E%D1%82-%D0%B4%D1%80%D1%83%D0%B3-%D0%B4%D1%80%D1%83%D0%B3%D1%83-%D1%80%D1%83%D0%BA%D0%B8-%D1%81-%D0%BA%D0%BE%D0%BD%D1%82%D1%80%D0%B0%D0%BA%D1%82%D0%BE%D0%BC.jpg?s=612x612&w=0&k=20&c=ib6hZP_E-4aWTgrEVX5Gg3PyRZ4-RCFAKiBq1LmoH-w=);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  min-block-size: 100vh;
  display: grid;
  place-items: center;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 643px;
  background-image: url("images/pexels-photo-6569318.jpeg");
  background-position: 50% 0%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 407px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  line-height: 2;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 236px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 10px 30px 30px;
}

.u-section-1 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 236px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 10px 30px 30px;
}

.u-section-1 .u-icon-2 {
  height: 48px;
  width: 48px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 236px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 10px 30px 30px;
}

.u-section-1 .u-icon-3 {
  height: 48px;
  width: 48px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 583px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-image-1 {
    min-height: 530px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 336px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 195px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 195px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 195px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1333px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -452px;
  }

  .u-section-1 .u-image-1 {
    min-height: 812px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1500px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -836px;
  }

  .u-section-1 .u-image-1 {
    min-height: 609px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1325px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -734px;
  }

  .u-section-1 .u-image-1 {
    min-height: 383px;
  }
} .u-section-2 {
  min-height: 168px;
}

.u-section-2 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 30px auto 30px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 116px;
}

.u-section-2 .u-container-layout-1 {
  padding: 29px 60px;
}

.u-section-2 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 164px;
  min-width: 68px;
  margin: 0 auto;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 148px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 96px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 126px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 74px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 274px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 111px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 192px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 70px;
  }
}