@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Concert+One&family=Kanit:wght@300&family=Oswald:wght@300&family=Patrick+Hand+SC&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #f5f8ff; */
    /* background: var(--color-darkgrey); */
    background-image: linear-gradient(
        115deg,
        rgba(240, 240, 270, 0.9),
        rgba(240, 240, 250, 0.5)
      ),
      url(https://media.istockphoto.com/id/1336558374/ru/%D1%84%D0%BE%D1%82%D0%BE/%D0%B4%D0%B5%D0%BB%D0%BE%D0%B2%D0%B0%D1%8F-%D0%B6%D0%B5%D0%BD%D1%89%D0%B8%D0%BD%D0%B0-%D0%B8-%D0%B1%D0%B8%D0%B7%D0%BD%D0%B5%D1%81%D0%BC%D0%B5%D0%BD-%D0%BF%D0%BE%D0%B6%D0%B8%D0%BC%D0%B0%D1%8E%D1%82-%D0%B4%D1%80%D1%83%D0%B3-%D0%B4%D1%80%D1%83%D0%B3%D1%83-%D1%80%D1%83%D0%BA%D0%B8-%D1%81-%D0%BA%D0%BE%D0%BD%D1%82%D1%80%D0%B0%D0%BA%D1%82%D0%BE%D0%BC.jpg?s=612x612&w=0&k=20&c=ib6hZP_E-4aWTgrEVX5Gg3PyRZ4-RCFAKiBq1LmoH-w=);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    min-block-size: 100vh;
    display: grid;
    place-items: center;
}

.app {
    padding: 20px;
}
form {
    display: flex;
    flex-direction: column;
}

.post {
 padding: 20px;
 border: 2px solid teal;
 position: absolute
 align: left 15%
}

.post:hover {
      background: #03c8a8;
        box-shadow: 0 0 5px #03c8a8,
              0 0 25px #03c8a8,
              0 0 50px #03c8a8,
              0 0 100px #03c8a8;
}

.input {
    width: 100%;
    padding: 10px 15px;
    margin-top: 20px;
}

.input > input, .input > select {
    background-color: transparent;
    border: 1px solid teal;
    border-radius: 6px;
    padding: 0 12px;
}

.btn {
    margin-top: 15px;
    align-self: flex-end;
    padding: 10px 15px;
    background: none;
    color: teal;
    cursor: pointer;
}

.flip_letters {
    position: relative;
  }

  .flip_letters span {
    font-size: 3rem;
    position: relative;
    display: inline-block;
    color: teal;
  }

  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;

    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    /* (Это для изменения фона при наведении курсором на кнопку)*/
    /* position: relative; */
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

  .btn-13 {
    margin-left: 400px;
    margin-top: 15px;
    align-self: flex-end;
    padding: 10px 15px;
    background: none;
    color: teal;
    cursor: pointer;
    background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border: none;
    z-index: 1;
  }
  .btn-13:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
     background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #FFC0CB 74%);
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .btn-13:hover {
    color: #fff;
  }
  .btn-13:hover:after {
    top: 0;
    height: 100%;
  }
  .btn-13:active {
    top: 2px;
  }

  .btn-14 {
    margin-left: 400px;
    margin-top: 15px;
    align-self: flex-end;
    padding: 10px 15px;
    background: none;
    color: teal;
    cursor: pointer;
    background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border: none;
    z-index: 1;
  }
  .btn-14:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
     background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #ffffff 74%);
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .btn-14:hover {
    color: #fff;
  }
  .btn-14:hover:after {
    top: 0;
    height: 100%;
  }
  .btn-14:active {
    top: 2px;
  }
