<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/nicepage.css" media="screen">
    <script class="u-script" type="text/javascript" src="../static/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="../static/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.21.12, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="FAQ">
    <meta property="og:type" content="website">
    {% block title %}
    {% endblock %}
</head>


<body class="u-body u-xl-mode" data-lang="ru">
<header class="u-clearfix u-header u-sticky-a9c8 u-header" id="sec-23d4">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class=" u-logo u-image-1">
        </div>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1" style="width: 100%">
            <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
                <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                   href="#"
                   data-lang-en="{&quot;content&quot;:&quot;<svg class=\&quot;u-svg-link\&quot; viewBox=\&quot;0 0 24 24\&quot;><use xmlns:xlink=\&quot;http://www.w3.org/1999/xlink\&quot; xlink:href=\&quot;#menu-hamburger\&quot;></use></svg><svg class=\&quot;u-svg-content\&quot; version=\&quot;1.1\&quot; id=\&quot;menu-hamburger\&quot; viewBox=\&quot;0 0 16 16\&quot; x=\&quot;0px\&quot; y=\&quot;0px\&quot; xmlns:xlink=\&quot;http://www.w3.org/1999/xlink\&quot; xmlns=\&quot;http://www.w3.org/2000/svg\&quot;>    <g>        <rect y=\&quot;1\&quot; width=\&quot;16\&quot; height=\&quot;2\&quot;></rect>        <rect y=\&quot;7\&quot; width=\&quot;16\&quot; height=\&quot;2\&quot;></rect>        <rect y=\&quot;13\&quot; width=\&quot;16\&quot; height=\&quot;2\&quot;></rect>    </g></svg>&quot;,&quot;href&quot;:&quot;#&quot;}">
                    <svg class="u-svg-link" viewBox="0 0 24 24">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
                    </svg>
                    <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px"
                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <rect y="1" width="16" height="2"></rect>
                            <rect y="7" width="16" height="2"></rect>
                            <rect y="13" width="16" height="2"></rect>
                        </g>
                    </svg>
                </a>
            </div>
            <div class="u-custom-menu u-nav-container" style="display: flex; justify-content: space-between">
                <ul class="u-nav u-unstyled u-nav-1">
                    <li class="u-nav-item"><a
                            class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                            href="catalog?type=employee" style="padding: 10px 20px;">{{g('l.head.employee', 'ru')}}</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                            href="catalog?type=employeer" style="padding: 10px 20px;">{{g('l.head.employer', 'ru')}}</a>
                    </li>
                </ul>
                <ul class="u-nav u-unstyled u-nav-1">
<!--                    <li class="u-nav-item"><a-->
<!--                            class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"-->
<!--                            href="catalog?type=employee" style="padding: 10px 20px;">{{g('l.head.root', 'ru')}}</a>-->
<!--                    </li>-->
                    <li class="u-nav-item"><a
                            class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                            href="create_post" style="padding: 10px 20px;">{{g('l.head.create_post', 'ru')}}</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                            href="about_company" style="padding: 10px 20px;">{{g('l.head.about_company', 'ru')}}</a>
                    </li>
<!--                    <li class="u-nav-item"><a-->
<!--                            class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"-->
<!--                            href="FAQ" style="padding: 10px 20px;">FAQ</a>-->
<!--                    </li>-->
                    <li class="u-nav-item"><a
                            class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                            href="profile" style="padding: 10px 20px;">{{g('l.head.profile', 'ru')}}</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                            href="logout" style="padding: 10px 20px;">{{g('l.head.exit', 'ru')}}</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>


{% block content %} {% endblock content %}

</body>


</html>

