<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="../static/css/catalog.css" rel="stylesheet">
    <title>Проект 1</title>
</head>

<body>
<div class="flip_letters">
    <span style="--flip:1">{{g('l.cart.head', 'ru')}}</span>
</div>
<div style="display: flex; flex-direction: column; gap: 4px; border: 2px solid teal; border-radius: 8px; padding: 20px; max-width: 460px; overflow-wrap: break-word;">
    <div>
        <a href="/profile?id={{author_id}}" >{{g('l.catalog.author', 'ru')}}: {{post[5]}}</a>
    </div>
    <div>
        {{g('l.catalog.name', 'ru')}}: {{post[2]}}
    </div>
    <div>
        {{g('l.catalog.description', 'ru')}}: {{post[3]}}
    </div>
    <div>
        {{g('l.catalog.schedule', 'ru')}}: {{post[4]}}
    </div>
</div>
<div class="frame">
    <a href="javascript:history.back()" class="btn">{{g('l.cart.back', 'ru')}}</a>
    {% if is_my_cart %}
    <a href="/cart/delete/{{post[0]}}" class="btn">{{g('l.cart.delete', 'ru')}}</a>
    {% endif %}
</div>
</body>



