{% extends 'bootstrap/base.html' %}


{% block content %}
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="../static/css/catalog.css" rel="stylesheet">
    <title>Проект 1</title>
</head>

<body>
<div class="flip_letters">
    <span>{{g('l.catalog.services', 'ru')}}</span>

</div>
<div class="container">
    <form>
        <input type="hidden" name="type" value="{{type}}">
        <input type="search" name="search" maxlength="12" placeholder="{{g('l.catalog.search', 'ru')}}" class="searchbar">
        <button>
            <img src="https://images-na.ssl-images-amazon.com/images/I/41gYkruZM2L.png" alt="search icon" class="button">
        </button>
    </form>
</div>
<div style="display: flex; gap: 16px; overflow-x: auto;width: 100%; padding: 0 24px">
    {% for post in posts %}
        <a href="/cart/{{post[0]}}" style="color:black">
            <div class="post">
                <div><strong>{{g('l.catalog.name', 'ru')}}:</strong> {{post[2]}}</div>
                <div><strong>{{g('l.catalog.description', 'ru')}}:</strong> {{post[3]}}</div>
                <div><strong>{{g('l.catalog.schedule', 'ru')}}:</strong> {{post[4]}}</div>

            </div>
        </a>
    {% endfor %}
</div>
</body>


{% endblock %}


