{% extends 'bootstrap/base.html' %}

{% block title %}
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link href="../static/css/index.css" rel="stylesheet">
<link rel="stylesheet" href="../static/css/profile.css" media="screen">

<title>Проект 1</title>
{% endblock %}

{% block content %}
<div class="app">

    <form @submit.prevent>
        <div class="flip_letters">
            <span>{{g('l.create_post.create_post', 'ru')}}</span>
        </div>
        <div style="display: flex; flex-direction: column; gap: 4px; border: 1px solid teal; border-radius: 8px">
            <div class="input">
            <label>{{g('l.create_post.type', 'ru')}}: </label>
            {{ form.type }}
        </div>
            <div class="input">
            <label>{{g('l.create_post.name', 'ru')}}: </label>
            {{ form.name }}
        </div>
            <div class="input">
            <label>{{g('l.create_post.description', 'ru')}}: </label>
            {{ form.description }}
        </div>
            <div class="input">
            <label>{{g('l.create_post.schedule', 'ru')}}: </label>
            {{ form.schedule }}
        </div>
        </div>
        <div class="frame">
            <button class="btn" formmethod="post" style="border: none">{{g('l.create_post.create', 'ru')}}</button>
            <a href="javascript:history.back()" class="btn">{{g('l.create_post.cancel', 'ru')}}</a>
        </div>
    </form>

</div>
{% endblock %}