
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="../static/css/catalog.css" rel="stylesheet">
    <title>Проект 1</title>
</head>

<body>
    <div class="flip_letters">
        <span style="--flip:1">{{g('l.delete_cart.head', 'ru')}}</span>
    </div>
</body>
