{% extends 'bootstrap/base.html' %}

{% block title %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<meta name="keywords" content="Facts &amp;amp; Questions, Остались вопросы?Мы на них ответим">
<title>FAQ</title>
<link rel="stylesheet" href="../static/css/FAQ.css" media="screen">

<meta name="theme-color" content="#478ac9">
<meta property="og:title" content="FAQ">
<meta property="og:type" content="website">
{% endblock %}

{% block content %}
  <section class="u-align-left u-clearfix u-grey-5 u-section-1" id="carousel_234f">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <h2 class="u-align-center u-custom-font u-font-montserrat u-text u-text-default u-text-1">Facts &amp; Questions</h2>
      <p class="u-text u-text-2">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
      <div class="u-accordion u-expanded-width u-faq u-spacing-10 u-accordion-1">
        <div class="u-accordion-item">
          <a class="active u-accordion-link u-active-white u-button-style u-custom-font u-font-montserrat u-text-active-palette-4-base u-text-hover-black u-text-palette-4-base u-accordion-link-1" id="link-accordion-f600" aria-controls="accordion-f600" aria-selected="true">
            <span class="u-accordion-link-text">Do you provide support?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-palette-4-base u-text-white u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 448 448" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-66d8"></use></svg><svg class="u-svg-content" viewBox="0 0 448 448" id="svg-66d8" style=""><path d="m272 184c-4.417969 0-8-3.582031-8-8v-176h-80v176c0 4.417969-3.582031 8-8 8h-176v80h176c4.417969 0 8 3.582031 8 8v176h80v-176c0-4.417969 3.582031-8 8-8h176v-80zm0 0"></path></svg></span>
          </a>
          <div class="u-accordion-active u-accordion-pane u-container-style u-shape-rectangle u-accordion-pane-1" id="accordion-f600" aria-labelledby="link-accordion-f600">
            <div class="u-container-layout u-container-layout-1">
              <div class="fr-view u-clearfix u-rich-text u-text">
                <p>Answer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id suscipit ex. Suspendisse rhoncus laoreet purus quis elementum. Phasellus sed efficitur dolor, et ultricies sapien. Quisque fringilla sit amet dolor commodo efficitur. Aliquam et sem odio. In ullamcorper nisi nunc, et molestie ipsum iaculis sit amet.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="u-accordion-item">
          <a class="u-accordion-link u-active-white u-button-style u-custom-font u-font-montserrat u-text-active-palette-4-base u-text-hover-black u-text-palette-4-base u-accordion-link-2" id="link-accordion-72f4" aria-controls="accordion-72f4" aria-selected="false">
            <span class="u-accordion-link-text">What types of files I will get?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-palette-4-base u-text-white u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 448 448" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-e303"></use></svg><svg class="u-svg-content" viewBox="0 0 448 448" id="svg-e303" style=""><path d="m272 184c-4.417969 0-8-3.582031-8-8v-176h-80v176c0 4.417969-3.582031 8-8 8h-176v80h176c4.417969 0 8 3.582031 8 8v176h80v-176c0-4.417969 3.582031-8 8-8h176v-80zm0 0"></path></svg></span>
          </a>
          <div class="u-accordion-pane u-container-style u-shape-rectangle u-accordion-pane-2" id="accordion-72f4" aria-labelledby="link-accordion-72f4">
            <div class="u-container-layout u-container-layout-2">
              <div class="fr-view u-clearfix u-rich-text u-text">
                <p>Answer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id suscipit ex. Suspendisse rhoncus laoreet purus quis elementum. Phasellus sed efficitur dolor, et ultricies sapien. Quisque fringilla sit amet dolor commodo efficitur. Aliquam et sem odio. In ullamcorper nisi nunc, et molestie ipsum iaculis sit amet.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="u-accordion-item">
          <a class="u-accordion-link u-active-white u-button-style u-custom-font u-font-montserrat u-text-active-palette-4-base u-text-hover-black u-text-palette-4-base u-accordion-link-3" id="link-accordion-854e" aria-controls="accordion-854e" aria-selected="false">
            <span class="u-accordion-link-text">How to get future updates?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-palette-4-base u-text-white u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 448 448" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-fade"></use></svg><svg class="u-svg-content" viewBox="0 0 448 448" id="svg-fade" style=""><path d="m272 184c-4.417969 0-8-3.582031-8-8v-176h-80v176c0 4.417969-3.582031 8-8 8h-176v80h176c4.417969 0 8 3.582031 8 8v176h80v-176c0-4.417969 3.582031-8 8-8h176v-80zm0 0"></path></svg></span>
          </a>
          <div class="u-accordion-pane u-container-style u-shape-rectangle u-accordion-pane-3" id="accordion-854e" aria-labelledby="link-accordion-854e">
            <div class="u-container-layout u-container-layout-3">
              <div class="u-clearfix u-rich-text u-text">
                <p>Answer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id suscipit ex. Suspendisse rhoncus laoreet purus quis elementum. Phasellus sed efficitur dolor, et ultricies sapien. Quisque fringilla sit amet dolor commodo efficitur. Aliquam et sem odio. In ullamcorper nisi nunc, et molestie ipsum iaculis sit amet.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-grey-5 u-section-2" id="sec-daf5">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <h1 class="u-text u-text-default u-text-1">Остались вопросы?<br>Мы на них ответим
      </h1>
      <div class="u-form u-form-1">
        <form action="https://forms.nicepagesrv.com/Form/Process" class="u-clearfix u-form-spacing-20 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form">
          <div class="u-form-group u-form-name u-label-none">
            <label for="name-3b9a" class="u-label"></label>
            <input type="text" placeholder="Enter your Name" id="name-3b9a" name="name" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-1" required="">
          </div>
          <div class="u-form-email u-form-group u-label-none">
            <label for="email-3b9a" class="u-label"></label>
            <input type="email" placeholder="Enter a valid email address" id="email-3b9a" name="email" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-2" required="">
          </div>
          <div class="u-form-group u-form-message u-label-none">
            <label for="message-3b9a" class="u-label"></label>
            <textarea placeholder="Enter your message" rows="4" cols="50" id="message-3b9a" name="message" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-3" required=""></textarea>
          </div>
          <div class="u-align-center u-form-group u-form-submit">
            <a href="#" class="u-border-2 u-border-black u-btn u-btn-rectangle u-btn-submit u-button-style u-none u-btn-1">Submit</a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>
          <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
          <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
          <input type="hidden" value="" name="recaptchaResponse">
          <input type="hidden" name="formServices" value="ec4fee1f6b45712181922ec99c26eb88">
        </form>
      </div>
    </div>
  </section>
{% endblock %}



