{% extends 'bootstrap/base.html' %}

{% block title %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="../static/css/index.css" rel="stylesheet">
    <title>Проект 1</title>
{% endblock %}

{% block content %}
<div class="flip_letters">
    <span style="--flip:1">У</span>
    <span style="--flip:2">С</span>
    <span style="--flip:3">Л</span>
    <span style="--flip:4">У</span>
    <span style="--flip:5">Г</span>
    <span style="--flip:6">И</span>

</div>

<div class="post">
    <div><strong>Название:</strong> Пост1</div>
    <div><strong>Описание:</strong> Lorem ipsum dolor.</div>
    <div><strong>Расписание:</strong> Работаем сутра до ночи</div>
</div>
<div class="post">
    <div><strong>Название:</strong> Пост2</div>
    <div><strong>Описание:</strong> Lorem ipsum dolor sit.</div>
    <div><strong>Расписание:</strong> Работаем сутра до ночи</div>
</div>
<div class="post">
    <div><strong>Название:</strong> Пост3</div>
    <div><strong>Описание:</strong> Lorem ipsum dolor sit amet.</div>
    <div><strong>Расписание:</strong> Работаем сутра до ночи</div>
</div>
{% endblock %}