<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/login.css"/>
    <title></title>
</head>
<div class="login-box">
    <h2>Авторизация</h2>
    <form method="post" action="{{  url_for('login') }}">
        <div class="user-box">
            {{ form.login }}
            <label>Login</label>
        </div>
        <div class="user-box">
            <!--        <input type="password" name="" required="">-->
            {{ form.password }}
            <label>Password</label>
        </div>
        <button>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Войти
        </button>
        <a href="/signup">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Регистрация
        </a>
    </form>
</div>