{% extends 'bootstrap/base.html' %}


{% block content %}
<head>
    <meta charset="utf-8">
    <title>User profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="../static/css/profile.css" media="screen">


</head>

<div class="container padding-bottom-3x mb-2">
    <div class="row">
        <div class="col-lg-4">
            <aside class="user-info-wrapper">
                <div class="user-cover" style="background-image: url(https://bootdey.com/img/Content/bg1.jpg);">
                </div>
                <div class="user-info">
                    <div class="user-avatar">
                        <a class="edit-avatar" href="#"></a><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User"></div>
                    <div class="user-data">
                        <h4>{{name}}</h4>
                    </div>
                </div>
            </aside>
            <nav class="list-group">
                {% if is_my_profile %}
                    <a class="list-group-item with-badge" href=basket><i class="fa fa-th"></i>{{g('l.profile.basket', 'ru')}}</a>
<!--                    <a class="list-group-item with-badge" href=wishlist><i class="fa fa-heart"></i>{{g('l.profile.wishlist', 'ru')}}</a>-->
                {% endif %}
                <a class="list-group-item with-badge active" href=profile?id={{id}}><i class="fa fa-tag"></i>{{g('l.profile.my_posts', 'ru')}}</a>
                <a class="list-group-item with-badge" href=review?id={{id}}><i class="fa fa-tag"></i>{{g('l.profile.review', 'ru')}}</a>
            </nav>
        </div>
        <div class="col-lg-8">
            <div class="padding-top-2x mt-2 hidden-lg-up"></div>
            <div class="table-responsive margin-bottom-2x">
                <table class="table margin-bottom-none">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>{{g('l.profile.my_posts', 'ru')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="display: flex; flex-direction:column;gap: 4px; overflow-y: auto;width: 100%; padding: 12px; height: 300px">
                {% for post in posts %}
                    <a href="/cart/{{post[0]}}" style="color:black">
                        <div class="post" style="border: 1px solid teal; padding: 4px; border-radius: 4px">
                            <div style="min-width: 160px; max-width: 260px; overflow-wrap: break-word;"><strong>{{g('l.catalog.type', 'ru')}}:</strong> {{post[1]}}</div>
                            <div style="min-width: 160px; max-width: 260px; overflow-wrap: break-word;"><strong>{{g('l.catalog.name', 'ru')}}:</strong> {{post[2]}}</div>
                            <div style="min-width: 160px; max-width: 260px; overflow-wrap: break-word;"><strong>{{g('l.catalog.description', 'ru')}}:</strong> {{post[3]}}</div>
                            <div style="min-width: 160px; max-width: 260px; overflow-wrap: break-word;"><strong>{{g('l.catalog.schedule', 'ru')}}:</strong> {{post[4]}}</div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>

{% endblock %}