<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/login.css" />
    <title></title>
  </head>
<div class="login-box">
    <h2>Регистрация</h2>
    <form method="post" action="{{  url_for('registration') }}">
      <div class="user-box">
        {{ form.login }}
        <label>Login</label>
      </div>
      <div class="user-box">
        {{ form.password }}
        <label>Password</label>
      </div>
      <div class="user-box">
        {{ form.name }}
        <label>Name</label>
      </div>
      <div class="user-box">
        {{ form.phone_number }}
        <label>Number phone</label>
      </div>

      <button>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button>
    </form>
  </div>