{% extends 'bootstrap/base.html' %}


{% block content %}
<head>
    <meta charset="utf-8">
    <title>User profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>

</head>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="../static/css/profile.css" media="screen">
<div class="container padding-bottom-3x mb-2">
    <div class="row">
        <div class="col-lg-4">
            <aside class="user-info-wrapper">
                <div class="user-cover" style="background-image: url(https://bootdey.com/img/Content/bg1.jpg);">
                </div>
                <div class="user-info">
                    <div class="user-avatar">
                        <a class="edit-avatar" href="#"></a><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User"></div>
                    <div class="user-data">
                        <h4>{{name}}</h4>
                    </div>
                </div>
            </aside>
            <nav class="list-group">
                {% if flag %}
                    <a class="list-group-item with-badge" href=basket><i class="fa fa-th"></i>{{g('l.profile.basket', 'ru')}}</a>
                    <a class="list-group-item with-badge" href=wishlist><i class="fa fa-heart"></i>{{g('l.profile.wishlist', 'ru')}}</a>
                {% endif %}
                <a class="list-group-item with-badge" href="profile"><i class="fa fa-tag"></i>{{g('l.profile.my_posts', 'ru')}}</a>
                <a class="list-group-item with-badge active" href=review><i class="fa fa-tag"></i>{{g('l.profile.review', 'ru')}}</a>
            </nav>
        </div>
        <div class="col-lg-8">
            <div class="padding-top-2x mt-2 hidden-lg-up"></div>
            <div class="table-responsive margin-bottom-2x">
                <table class="table margin-bottom-none">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>{{g('l.profile.wishlist', 'ru')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Messages-->
            {% for comment in comments %}
                <div class="comment">
                    <div class="comment-author-ava"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Avatar"></div>
                    <div class="comment-body">
                        <p class="comment-text">{{comment[0]}}</p>
                        <div class="comment-footer"><span class="comment-meta">{{comment[1]}}</span></div>
                    </div>
                </div>
            {% endfor %}

            <!-- Reply Form-->
            {% if not is_my_profile %}
                <h5 class="mb-30 padding-top-1x">Напишите отзыв</h5>
                <form method="post">
                    <div class="form-group">
                        <textarea class="form-control form-control-rounded" id="review_text" rows="8" placeholder="Напишите ваш отзыв здесь..." required=""></textarea>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-outline-primary" type="submit">Отправить</button>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
</div>
<script type="text/javascript">

</script>

{% endblock %}